*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 1rem 3rem;
  align-items: center;
  margin-bottom: 2rem;
  height: 10vh;
}

header a:hover {
  background-color: #00b357;
  color: white;
}

.containerLogo {
  width: 70px;
}

.containerLogo__config {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerLogo__logout button {
  all: unset;
  padding: 0.6rem;
  background-color: aquamarine;
  color: rgb(98, 98, 98);
  border-radius: 0.5rem;
  margin: 0 2rem;
}

.containerLogo__logout button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.containerMain {
  min-height: calc(100vh - 25.5vh);
  max-width: 1400px;
  padding: 3rem;
  margin: 3rem auto;
  background-color: rgba(235, 235, 235, 0.715);
  border-radius: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
  background-color: #f5f5f5;
  padding: 1rem 3rem;
  align-items: center;
  height: 10vh;
  max-width: 1300px;
  margin: 0 auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

footer span {
  font-size: 3rem;
  font-weight: bold;
}

footer p {
  font-size: 1.2rem;
  font-weight: 300;
}

.containerLogo__footer img {
  width: 50px;
}

/* /// Page User */

.containerUser h2 {
  font-size: 2.8rem;
  text-align: center;
}

.containerUser__item {
  background-color: rgb(230, 230, 230);
  width: 50%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

.containerUser__detail {
  padding: 0.4rem 0;
}

.loginForm {
  margin-top: 5%;
}

.loginForm h2 {
  font-size: 3.2rem;
  text-align: center;
  margin: 2rem 0;
}

.loginForm form {
  max-width: 50%;
  margin: 0 auto;
}

.loginForm__form fieldset {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  border: none;
}

.loginForm__form label {
  font-size: 1.5rem;
  margin: 0.2rem 0;
  font-weight: lighter;
}

.loginForm__form input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  margin: 0.6rem 0;
}

.loginForm__form input::placeholder {
  font-size: 1.5rem;
}

.loginForm__form fieldset button {
  width: 60%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  background-color: #ff6161;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 4rem;
}

.loginForm__form select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  margin: 0.6rem 0;
  background-color: white;
}

.loginForm__info {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: end;
}

.loginForm__info a {
  font-weight: 700;
}

.loginForm__info a:hover {
  color: #ff6161;
}

.alert-error {
  background-color: #0fda74;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.alert-error p {
  font-size: 1.6rem;
  margin: 0.6rem 0;
  color: white;
  padding: 0.5rem 1rem;
}

/* //////// POST //////////// */

.container-post {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.container-post__menu {
  flex: 1;
}

.container-post__menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ff6161;
  border-radius: 1rem;
  margin: 1rem 2rem;
  display: block;
  text-align: center;
  width: 70%;
}

.container-post__result {
  flex: 4;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container-post__result-item {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  flex: 1 0 1;
}

.container-post__result-item:hover {
  cursor: pointer;
}

.container-post__result-item p {
  margin: 1rem 0;
}

.form_post {
  max-width: 60%;
  margin: 4rem auto 0 auto;
}

.form_post textarea {
  display: block;
  width: 100%;
  border: none;
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 2rem;
}
